
/*Light theme (bootstrap-spacelab.min.css)*/
/*
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background: 0 0;
    color: #cacaca;
    cursor: default;
}

.datepicker table tr td span.disabled, .datepicker table tr td span.disabled:hover {
	background: 0 0;
	color: #cacaca;
	cursor: default;
}
*/

/*Dark theme (bootstrap-solar.min.css)*/
.well, .shiny-text-output {
	background-color: #002b36;
	color: #839496;
}

.irs-slider{
    top: 40%;
    width: 3px;
    height: 10px;
}

/*.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 400px;
}

.wrapper {
  position: relative;
  width: 1000px;
  height: 400px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/